/*--------------------------------------------------------- GENERAL ---------------------------------------------------------*/
*{
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img{ border: none; }

.padding-xs, .padding-sm, .padding-m, .padding-l, .padding-xl{
  display: block;
  width: 100%;
}
.padding-xs{ height: 15px; }
.padding-s{ height: 30px; }
.padding-m{ height: 50px; }
.padding-l{ height: 80px; }
.padding-xl{ height: 120px; }

.no-margin{ margin: 0 !important; }
.no-margin-top{ margin-top: 0 !important; }
.no-margin-bottom{ margin-bottom: 0 !important; }
.no-margin-left{ margin-left: 0 !important; }
.no-margin-right{ margin-right: 0 !important; }
.no-padding{ padding: 0 !important; }
.no-padding-left{ padding-left: 0 !important; }
.no-padding-right{ padding-right: 0 !important; }
.no-padding-top{ padding-top: 0 !important; }
.no-padding-bottom{ padding-bottom: 0 !important; }

.no-border{ border: none !important; }

.float-left{
  float: left !important;
  clear: left;
}
.float-right{ float: right !important; }

ul, ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.ul-inline li{ display: inline-block; }
.text-center ul.ul-inline li{ float: none; }
.text-right ul.ul-inline li{ float: right; }

.row,
.row-form{
  margin-right: -15px;
  margin-left: -15px;
}
.row:after, .row:before,
.row-form:after, .row-form:before{
  display: table;
  content: " ";
}
.row:after,
.row-form:after{ clear: both; }
.col-md-1{ width: 8.33333333%; }
.col-md-2{ width: 16.66666667%; }
.col-md-3{ width: 25%; }
.col-md-4{ width: 33.33333333%; }
.col-md-5{ width: 41.66666667%; }
.col-md-6{ width: 50%; }
.col-md-7{ width: 58.33333333%; }
.col-md-8{ width: 66.66666667%; }
.col-md-9{ width: 75%; }
.col-md-10{ width: 83.33333333%; }
.col-md-11{ width: 91.66666667%; }
.col-md-12{ width: 100%; }
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.row-form .col-md-1, .row-form .col-md-10, .row-form .col-md-11, .row-form .col-md-12, .row-form .col-md-2, .row-form .col-md-3, .row-form .col-md-4, .row-form .col-md-5, .row-form .col-md-6, .row-form .col-md-7, .row-form .col-md-8, .row-form .col-md-9{ padding: 0; }

video, header, aside, main, footer{ display: block; }

.display-none{ display: none !important; }

.bg-section{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.center-vertical, .center-horizontal{ position: absolute !important; }
.center-vertical{
  top: 50% !important;
  left: 0 !important;
  -webkit-transform: translateY(-50%) translate3d(0,0,0);
  -moz-transform: translateY(-50%) translate3d(0,0,0);
  -o-transform: translateX(0) translateY(-50%);
  -ms-transform: translateY(-50%) translate3d(0,0,0);
  transform: translateY(-50%) translate3d(0,0,0);
}
.center-horizontal{
  top: 0 !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) translate3d(0,0,0);
  -moz-transform: translateX(-50%) translate3d(0,0,0);
  -o-transform: translateX(-50%) translateY(0);
  -ms-transform: translateX(-50%) translate3d(0,0,0);
  transform: translateX(-50%) translate3d(0,0,0);
}
.center-vertical.center-horizontal{
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  -moz-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
}

/*--------------------------------------------------------- COLORS & BACKGROUNDS ---------------------------------------------------------*/
.bg-white{ background-color: #FFFFFF !important; }

body{ color: #333333; }

body,
.bg-section{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------- PARALLAX ---------------------------------------------------------*/
#home-banner{
  position: relative;
  width: 100%;
  height: 100%;
}

.scene-parallax,
.scene-parallax li{
  width: 100% !important;
  height: 100% !important;
}
.scene-parallax .layer-img-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.scene-parallax img{
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  height: 836px;
  max-width: 100%;
  min-height: 200px;
  
  -webkit-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  -moz-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
  transform: translateX(-50%) translateY(-50%) translate3d(0,0,0);
}

.face-cursor li{
  z-index: 1;
  overflow: hidden;
}

/*--------------------------------------------------------- OPACITY ---------------------------------------------------------*/
.opacity-0{
  opacity: 0.0;
  filter:alpha(opacity=0);
  -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0.0;
  -khtml-opacity: 0.0;
}
.opacity-100{
  opacity: 1.0;
  filter:alpha(opacity=100);
  -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
}